.about_panel{
    height: 100vh;
    margin: auto;
    width: 100%;
    color: whitesmoke;
    font-size: 1.2rem;
    /* background-color: salmon; */
    /* z-index: -100; */
}

.content_panel{
    text-align: center;
}

.trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trails-text {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 80px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .trails-text > div {
    overflow: hidden;
  }

  @media only screen and (max-width: 850px){
    .trails-text {
        position: relative;
        width: 100%;
        height: 50px;
        line-height: 80px;
        color: whitesmoke;
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 800;
        text-transform: uppercase;
        will-change: transform, opacity;
        overflow: hidden;
      }
}