.navigation_button{
    font-size: 1.2rem;
}

.navigation_menu{
    position: fixed;
    background-color: white;
    border-right: 1px black solid;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    padding: 16px;
    z-index: 50;
}

.navigation_mask{
    background-color: rgba(.5, .5, .5, .5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}