.navigation_menu_logo{
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
    font-size: 1.2rem;
}

.navigation_menu_list{
    padding: 0;
    margin: 0;
}

.navigation_menu_item{
    /* text-blue-500 py-3 border-t border-b block */
    margin-top: 3px;
    margin-bottom: 3px;
    color: black;
}

.navigation_menu_item:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}